{% extends 'base.html' %} {% block content %}




<div class="page-wrapper py-5">
    <div class="login-wrapper p-0 d-flex justify-content-center container-fluid my-5">
        <div class="row m-0 p-0 d-flex justify-content-center container-fluid ">
            <div class="container-fluid">
                <h3 class="text-center my-3">Settings</h3>
                <div class="row">
                    <div class="col-12 px-3">

                        <form action="{{ url_for('add_unit') }}" method="POST">
                            <div class="row m-0 p-0">
                                <div class="col-6 col-md-6 m-0 p-0 pr-3">

                                    <label>Weight:</label>
                                    <select class="form-control mb-2" name="unit">
                                        {% if unit == 'kg' %}
                                        <option value="kg">kg</option>
                                        <option value="lb">lb</option>
                                        {% elif unit == 'lb'%}
                                        <option value="lb">lb</option>
                                        <option value="kg">kg</option>
                                        
                                        {% endif %}
                                    </select>

                                </div>
                                <div class="col-6 col-md-6 m-0 p-0">
                                    <label>Distance:</label>
                                    <select class="form-control mb-2" name="unit_distance">
                                        {% if unit_distance == 'mile' %}
                                        <option value="mile">Mile</option>
                                        <option value="km">km</option>
                                        {% elif unit_distance == 'km' %}
                                        <option value="km">km</option>
                                        <option value="mile">Mile</option>
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="col-12 p-0 my-3">
                                    <button class="btn btn-dark unit-button container-fluid px-0" name="unit">Make
                                        Changes</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="row m-0 p-0 my-3">
                    <div class="col-12 m-0 p-0 ">
                        <h3 class="text-center">Remove Account</h3>
                        <a class="btn btn-danger text-light container-fluid" data-toggle="modal" data-target="#deleteAccountModal">Delete Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- delete account modal -->
  <div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are You Sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Completing this action will remove your activity from the site.</p>
        </div>
        <div class="modal-footer">
          <a type="button" class="btn btn-danger text-light" href="{{ url_for('delete_account')}}">Delete Account</a>
        </div>
      </div>
    </div>
  </div>


{% endblock %}