// Theme, colours

$aboveNav: rgb(73, 73, 73);

$iconColour: rgb(226, 184, 93);
$primaryBtn: rgb(241,180,77);

$titleContainer: rgb(242,242,242);
$pageContainer: rgb(250,250,250);

// General 

.page-wrapper {
    display:flex;
    justify-content:center;
    .page-container {
        background-color: $pageContainer;
        height: 100vh;
        width:100%;
        padding:10px;
        max-width: 800px;
    }
}

.secondary-colour {
    color: $iconColour; 
}

// base.html

.above-navigation {
    background-color: $aboveNav ;
    color: $iconColour;
}

.navbar {
    background-color: $primaryBtn; 
}

.title-container {
    background-color: $titleContainer;
    padding: 30px;
    border-bottom:solid 1px gray;
    z-index:5;
}

// home.html



// addsession.html

.add-icon {
    font-size:37px;
}
