.dc-chart .pie-slice {
  fill: black;
  font-size: 16px;
}

.fa-arrow-alt-circle-up {
  font-size: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Squada One", cursive;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 22px;
}

p,
a,
td,
th,
option {
  font-family: "Raleway", sans-serif;
}

.return-top-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 5px;
  background-color: black;
  display: none;
  color: white;
  height: 35px;
  width: 35px;
  border-radius: 10px;
  border: none;
  z-index: 10;
  -webkit-box-shadow: 5px 5px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 1px 1px rgba(0, 0, 0, 0.1);
  opacity: 70%;
}

.bg-gray {
  background-color: #f7f7f7;
}

.main-title {
  font-size: 60px;
  background: -webkit-linear-gradient(#eee, #ababab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../img/background.png");
}

.page-wrapper .page-container {
  background-color: #fdfdfd;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 1000px;
  border-right: solid #c4c4c4 1px;
  border-left: solid #c4c4c4 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.unit-button {
  padding: 0px 10px;
  height: 38px;
}

.main-colour {
  background-color: #69add6;
}

.secondary-colour {
  background-color: #a3c8f5;
}

.main-gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#89c3e7), to(#69add6));
  background-image: linear-gradient(#89c3e7, #69add6);
}

.main-colour-text {
  color: #69add6;
}

.left-border {
  border-left: solid black 1px;
}

.session-header th {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#89c3e7), to(#69add6));
  background-image: linear-gradient(#89c3e7, #69add6);
  border: solid #6b6e9a 1px;
}

.session-table td {
  border: solid lightgray 1px;
}

.session-table tr td input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.login-background {
  background-color: #fafafa;
  min-height: 85vh;
}

.login-wrapper {
  margin-top: 20px;
  max-width: 420px;
  border: solid #c4c4c4 1px;
  border-radius: 1px;
  background-color: #ffffff;
}

.login-container {
  max-width: 400px;
}

.register-width {
  max-width: 500px;
}

.height-full {
  height: 100%;
}

.animated.delay-1 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.animated.delay-2 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.animated.delay-3 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.animated.delay-4 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.animated.delay-5 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.animated.delay-6 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.animated.delay-7 {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.animated.delay-8 {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.animated.delay-9 {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.animated.delay-10 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.animated.delay-11 {
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s;
}

.animated.delay-12 {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.animated.delay-13 {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

.animated.delay-14 {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4;
}

.animated.delay-15 {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.badge-container {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid black 1px;
}

.badge-locked {
  background-color: white;
}

.first-badge {
  background-color: #69add6;
  border: none;
}

.second-badge {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bae1fa), to(#42acee));
  background-image: linear-gradient(#bae1fa, #42acee);
  border: none;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(123, 198, 245, 0.65);
          box-shadow: 0px 0px 2px 2px rgba(123, 198, 245, 0.65);
}

.third-badge {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fae4cc), color-stop(#f8be42), to(#f0dd90));
  background-image: linear-gradient(#fae4cc, #f8be42, #f0dd90);
  border: none;
  -webkit-box-shadow: 0px 0px 4px 4px rgba(255, 219, 58, 0.4);
          box-shadow: 0px 0px 4px 4px rgba(255, 219, 58, 0.4);
}

.forth-badge {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#daf8fd), color-stop(#bed0dc), to(#d1e7f5));
  background-image: linear-gradient(#daf8fd, #bed0dc, #d1e7f5);
  border: none;
  -webkit-box-shadow: 0px 0px 6px 6px rgba(179, 223, 250, 0.65);
          box-shadow: 0px 0px 6px 6px rgba(179, 223, 250, 0.65);
}

.fifth-badge {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fffbef), color-stop(#f1e183), to(#faf05f));
  background-image: linear-gradient(#fffbef, #f1e183, #faf05f);
  border: none;
  -webkit-box-shadow: 0px 0px 8px 8px rgba(255, 241, 46, 0.612);
          box-shadow: 0px 0px 8px 8px rgba(255, 241, 46, 0.612);
}

.sixth-badge {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9fdff), color-stop(#88f5e8), to(#b4fff6));
  background-image: linear-gradient(#f9fdff, #88f5e8, #b4fff6);
  border: none;
  -webkit-box-shadow: 0px 0px 10px 10px rgba(169, 255, 238, 0.612);
          box-shadow: 0px 0px 10px 10px rgba(169, 255, 238, 0.612);
}

.records-table tr td {
  border: solid black 1px;
  min-width: 50px;
}

.records-table tr th {
  border: solid black 1px;
}

.above-navigation {
  background-color: #494949;
  color: #69add6;
}

.navbar {
  background-color: white;
}

.title-container {
  background-image: url("../img/bar-end-background.jpg");
  background-position: center;
  background-size: cover;
  padding: 30px;
  border-bottom: solid 1px gray;
  z-index: 5;
}

.session-card {
  background-color: white;
  border: solid lightgray 1px;
  border-radius: 5px;
}

.fa-edit:hover {
  color: #a3c8f5;
  cursor: pointer;
}

.unit-td {
  width: 80px;
}

.add-button {
  background-color: #ffaf65;
  width: 100%;
  height: 100%;
  height: 38px;
  font-size: 22px;
  border-radius: 5px;
  border: solid lightgray 1px;
}

.number-input {
  width: 50px;
  background-color: white;
  border: solid lightgray 1px;
  border-radius: 5px;
  margin-right: 3px;
}

.stats-container {
  padding: 10px;
  background-color: white;
  border: solid lightgray 1px;
  border-radius: 5px;
}

footer {
  background-color: #fafafa;
}
/*# sourceMappingURL=style.css.map */