// Theme
$aboveNav: rgb(73, 73, 73);
$iconColour: rgb(218, 185, 154);
$primaryBtn: rgb(241,180,77);
$titleContainer: rgb(226, 226, 226);

.above-navigation {
    background-color: $aboveNav ;
    color: $iconColour;
}

.nav {
    li {
        a {
            color:black;
        }
    }
    background-color: $primaryBtn; 
}

.title-container {
    background-color: $titleContainer;
    padding: 30px;
}