{% extends 'base.html' %} {% block content %}


<div class="page-wrapper py-5">
    <div class="login-wrapper p-0 d-flex justify-content-center container-fluid">
        <div class="row m-0 p-0 d-flex justify-content-center container-fluid">
            <div class="container-fluid">
                <h3 class="text-center my-3">Create Training Plan</h3>
                <div class="row">

                    <div class="col-12 px-3">
                        <div class="row m-0 p-0" id="plan_first_container">
                            <div class="col-10 m-0 p-0">
                                <h6>How many weeks?</h6>
                            </div>
                            <div class="col-2 m-0 p-0">
                                <input id="plan_many_weeks" type="number" value="1" min="1" class="container-fluid form-control" required>
                            </div>
                            <div id="weeks-error-message"></div>
                            <div class="col-12 my-3 m-0 p-0">
                                <button class="main-colour btn float-right" onclick="addWeeks()">Continue</button>
                            </div>
                            <div class="col-12 m-0 p-0">


                            </div>

                        </div>
                        <div id="plan_training_days" class="row m-0 p-0">

                        </div>

                        <form action="{{ url_for('insert_training_plan') }}" method="POST" id="plan_table"
                            class="row m-0 p-0">

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

<script>
    // warn the user that if they leave the page the data will not be saved.
    $(function() {
        $(window).on('beforeunload', function() {
            return '';
        })
    })
</script>
{% endblock %}