{% extends 'base.html' %} {% block content %}

<div class="title-container">
    <h1 class="text-center">Add Personal Record</h1>
</div>
<div class="page-wrapper">
    <div class="page-container">
        <form action="{{ url_for('insert_record') }}" method="POST" class="container-fluid">
            <div class="row my-2 p-0">
                <div class="col-12 col-lg-6">
                    <label class="mb-1">First Name:</label>
                    <input type="text" class="form-control" placeholder="John" name="first_name">
                </div>
                <div class="col-12 col-lg-6">
                    <label class="mb-1">Last Name:</label>
                    <input type="text" class="form-control" placeholder="Smith" name="last_name">
                </div>
            </div>
            <div class="row m-0 p-0">
                <div class="col-4 p-0">
                    <label class="mb-1" for="exampleFormControlSelect1">Age:</label>
                    <input type="number" class="form-control" placeholder="23" name="age">
                </div>
                <div class="col-4">
                    <label class="mb-1" for="exampleFormControlSelect1">Gender:</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="gender">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
                <div class="col-4 p-0">
                    <label class="mb-1" for="exampleFormControlSelect1">BW: (KG)</label>
                    <input type="number" class="form-control" placeholder="body weight" name="body_weight">
                </div>

            </div>
            <hr>
            <div class="row m-0 p-0">
                <div class="col-6 p-0 pr-3">
                    <label class="mb-1" for="exampleFormControlSelect1">Location:</label>
                    <input class="form-control" placeholder="Location" name="location">
                </div>
                <div class="col-6 p-0">
                    <label class="mb-1" for="exampleFormControlSelect1">Date:</label>
                    <input type="date" class="form-control" placeholder="Date" name="date">
                </div>
            </div>
            <hr>
            <div class="stats-container">
                <p class="text-center">Difficulty:</p>
                <div class="d-flex justify-content-center align-item-center">
                    <input type="number" min="0" max="100" class="number-input float-left" name="difficulty">
                    <p class="m-0"> / 100</p>
                </div>
            </div>
            <hr>
            <div>
                <h3 class="my-3">Training Session</h3>
                <table class="session-table container-fluid">
                    <tr>
                        <th>Exercise:</th>
                        <th>Reps:</th>
                        <th>Weight (KG):</th>
                    </tr>
                    <tr>
                        <td><input class="container-fluid" type="text" name="session_exercise_1"></td>
                        <td><input class="container-fluid" type="type" name="session_sets_1"></td>
                        <td><input class="container-fluid" type="type" name="session_weight_1"></td>
                    </tr>
                </table>
                <p class="my-2 p-0">Notes:</p>
                <textarea name="notes" class="container-fluid my-2"></textarea>
                <button class="btn secondary-colour text-light border float-right" type="submit"
                    name="action">Done</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}