{% extends 'base.html' %} {% block content %}

<div class="title-container">
    <h1 class="text-center main-title">Add Session</h1>
</div>
<div class="page-wrapper bg-light">
    <div class="page-container p-3">
        <form action="{{ url_for('insert_session') }}" method="POST" class="container-fluid p-0">
            <div class="row m-0 p-0">
                <div class="col-12 d-flex align-items-end col-md-2 p-0 pr-3">
                    <div class="container-fluid p-0">
                        <label class="mb-1" for="exampleFormControlSelect1">Date:</label>
                        <input type="date" class="form-control" value="" name="date" id="date" required> 
                    </div>
                </div>
                <div class="col-6 d-flex align-items-end col-md-2 p-0 pr-3">
                    <div class="container-fluid p-0">
                        <label class="mb-1" for="exampleFormControlSelect1">Hour:</label>
                        <input type="number" class="form-control" placeholder="hour(s)" name="length_hour" required>
                    </div>
                </div>
                <div class="col-6 d-flex align-items-end col-md-2 p-0 pr-3">
                    <div class="container-fluid p-0">
                        <label class="mb-1" for="exampleFormControlSelect1">Minute:</label>
                        <input type="number" class="form-control" placeholder="Minute(s)" name="length_min" required>
                    </div>
                </div>

                <!-- <div class="row">
                <div class="col-10">
                    <label class="mb-1" for="exampleFormControlSelect1">Session Type:</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="session_type">
                        <option>Powerlifting</option>
                        <option>Running</option>
                        <option>Olympic Lifting</option>
                        <option>Strongman</option>
                        <option>Body Weight</option>
                    </select>
                </div>
                <div class="col-2 m-0 p-0 pr-3 d-flex justify-content-end align-items-end">
                    <div class="add-button d-flex justify-content-center border align-items-center">
                        <i class="fas fa-plus icon-button text-light"></i>
                    </div>
                </div>
            </div> -->
                <div class="d-block d-md-none col-12 p-0">
                    <hr class="my-3">
                </div>

                <div class="col-12 col-md-6 p-0 d-flex justify-content-around">
                    <div class="stats-container container-fluid">
                        <p class="text-center">Motivated:</p>
                        <div class="d-flex justify-content-center align-item-center">
                            <input type="number" min="0" max="10" class="number-input float-left" name="motivated" required>
                            <p class="m-0"> / 10</p>
                        </div>
                    </div>
                    <div class="stats-container container-fluid mx-3">
                        <p class="text-center">Difficulty:</p>
                        <div class="d-flex justify-content-center align-item-center">
                            <input type="number" min="0" max="10" class="number-input float-left" name="difficulty" required>
                            <p class="m-0"> / 10</p>
                        </div>
                    </div>
                    <div class="stats-container container-fluid">
                        <p class="text-center">Effort:</p>
                        <div class="d-flex justify-content-center align-item-center">
                            <input type="number" min="0" max="10" class="number-input float-left" name="effort" required>
                            <p class="m-0"> / 10</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-0 mt-3 p-0" id="chooseTable">
                <hr>
                <div class="col-2 p-0">
                    <label>Unit:</label>
                    <select id="session-unit-option" name="session_unit" class="form-control container-fluid" required>
                        <option value="kg">KG</option>
                        <option value="lb">LB</option>
                    </select>
                </div>
                <div class="col-7">
                    <label>Session Type:</label>
                    <select id="session-type-option" name="session_type" class="form-control container-fluid" required>
                        <option value="powerlifting">Powerlifting</option>
                        <option value="olympiclifting">Olympic Lifting</option>
                        <option value="strongman">Strong Man</option>
                        <option value="strongwoman">Strong Woman</option>
                        <option value="bodyweight">Body Weight</option>
                        <option value="running">Running</option>
                    </select>
                </div>
                <div class="col-3 d-flex align-items-end p-0">
                    <div class="btn main-colour container-fluid" onclick="addSessionTable()">Continue</div>
                </div>
            </div>
            <hr>
            <div id="addSessionTable">

            </div>
        </form>
    </div>
</div>

{% endblock %}