{% extends 'base.html' %} {% block content %}

<div class="title-container">
    <h1 class="text-center">Add Session</h1>
</div>
<div class="page-wrapper">
    <div class="page-container">
        <form action="{{ url_for('insert_session') }}" method="POST" class="container-fluid">
            <div class="row my-2 p-0">
                <div class="col-6 col-md-4">
                    <p><b>Name:</b> {{ user.first_name }} {{ user.last_name }}</p>
                </div>
                <div class="col-6 col-md-4">
                    <p><b>Age:</b> {{ user.age }}</p>
                </div>
            </div>
            <div class="row my-2 p-0">
                <div class="col-6 col-md-4">
                    <p><b>Gender:</b> {{ user.gender }}</p>
                </div>
                <div class="col-6 col-md-4">
                    <p><b>BW:</b> {{ user.bodyweight }}{{ user.bw_unit }}</p>
                </div>
            </div>
            <hr>
            <div class="row m-0 p-0">
                <div class="col-6 p-0 pr-3">
                    <label class="mb-1" for="exampleFormControlSelect1">Location:</label>
                    <input class="form-control" placeholder="Location" name="location">
                </div>
                <div class="col-6 p-0">
                    <label class="mb-1" for="exampleFormControlSelect1">Date:</label>
                    <input type="date" class="form-control" placeholder="Date" name="date">
                </div>
            </div>
            <div class="row m-0 p-0 ">
                <div class="col-6 p-0 pr-3">
                    <label class="mb-1" for="exampleFormControlSelect1">Hour:</label>
                    <input type="number" class="form-control" placeholder="hour(s)" name="length_hour">
                </div>
                <div class="col-6 p-0">
                    <label class="mb-1" for="exampleFormControlSelect1">Minute:</label>
                    <input type="number" class="form-control" placeholder="Minute(s)" name="length_min">
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-10">
                    <label class="mb-1" for="exampleFormControlSelect1">Session Type:</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="session_type">
                        <option>Powerlifting</option>
                        <option>Running</option>
                        <option>Olympic Lifting</option>
                        <option>Strongman</option>
                        <option>Body Weight</option>
                    </select>
                </div>
                <div class="col-2 m-0 p-0 pr-3 d-flex justify-content-end align-items-end">
                    <div class="add-button d-flex justify-content-center border align-items-center">
                        <i class="fas fa-plus icon-button text-light"></i>
                    </div>
                </div>
            </div> -->
            <hr>
            <div class="row m-0 p-0">
                <div class="col-12 p-0 d-flex justify-content-around">
                    <div class="stats-container">
                        <p class="text-center">Motivated:</p>
                        <div class="d-flex justify-content-center align-item-center">
                            <input type="number" min="0" max="10" class="number-input float-left" name="motivated">
                            <p class="m-0"> / 10</p>
                        </div>
                    </div>
                    <div class="stats-container">
                        <p class="text-center">Difficulty:</p>
                        <div class="d-flex justify-content-center align-item-center">
                            <input type="number" min="0" max="10" class="number-input float-left" name="difficulty">
                            <p class="m-0"> / 10</p>
                        </div>
                    </div>
                    <div class="stats-container">
                        <p class="text-center">Effort:</p>
                        <div class="d-flex justify-content-center align-item-center">
                            <input type="number" min="0" max="10" class="number-input float-left" name="effort">
                            <p class="m-0"> / 10</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <div class="row p-0 m-0">
                    <div class="col-9">
                        <h3 class="my-3">Training Session</h3>
                    </div>
                    <div class="col-3">
                        <label>Unit:</label>
                        <select class="form-control" name="weight_unit">
                            <option id="training-session-id">lb</option>
                            <option>kg</option>
                        </select>
                    </div>

                </div>
                <table class="session-table container-fluid mt-3" id="addSessionTable">
                    <tr>
                        <th>Exercise:</th>
                        <th>Sets / Reps:</th>
                        <th>Weight:</th>
                        <th id="" class="unit-td"><i class="fas fa-balance-scale"></i></th>
                    </tr>
                    <tr>
                        <td><input class="container-fluid" type="text" name="session_exercise_1"></td>
                        <td><input class="container-fluid" type="type" name="session_sets_1"></td>
                        <td><input class="container-fluid" type="type" name="session_weight_1"></td>
                        <td class="unit-td"></td>
                    </tr>
                </table>
                <a class="btn main-colour text-light border my-2" onclick="createRow()">Add Row +</a>
                <p class="m-0 p-0">Notes: {{ session.notes }}</p>
                <textarea name="notes" class="container-fluid my-2"></textarea>
                <button class="btn main-colour text-light border float-right" type="submit"
                    name="action">Done</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}