{% extends 'base.html' %} {% block content %}

<div class="title-container">
    <h1 class="text-center">Power In Numbers</h1>
</div>
<div class="page-wrapper">
    <div class="page-container">
        <div>
            <p>Feel free to add your own training session! This page is designed to help people stay motivated, by
                letting
                them know there not alone. Create or start one for the many training plan's we have available. Think
                your the best? Find out by adding your personal best's and comparing them with others.</p>
            <hr>    
            {% for session in sessions %}
            <div class="session-card">

                {{ session.first_name }} {{ session.last_name }}

            </div>
            {% endfor %}
        </div>


    </div>
</div>

{% endblock %}