<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Power In Numbers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d4ed0579d0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Squada+One&display=swap" rel="stylesheet">
</head>

<body>
    <div class="page-wrapper">
        <div class="row m-0 p-0 container-fluid">
            <div class="col-12 pr-5 col-md-5 d-none d-lg-flex justify-content-end align-items-end">
                <img height="420px" width="340px" src="{{ url_for('static', filename='img/phone-preview.png') }}">
            </div>
            <div class="col-12 container-fluid col-md-7 d-flex align-items-center p-0">
                <div class="container-fluid my-5 p-0 d-flex justify-content-center justify-content-lg-start">
                    <div class=" d-flex justify-content-center login-wrapper">
                        <div class="row m-0 p-0">
                            <div class="col-12 d-flex justify-content-center">
                                <div>
                                    <h1 class="text-center my-4">Power In Numbers</h1>
                                    <p id="greetingMessage" class="text-center"></p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center container-fluid">
                                <div class="login-container">
                                    <form method="POST" action="{{ url_for('login') }}">
                                        <div class="row">
                                            <div class="col-12">
                                                <label><b>Username</b></label>
                                                <input type="username" name="username" class="form-control">
                                            </div>
                                            <div class="col-12">
                                                <label><b>Password</b></label>
                                                <input type="password" name="password" class="form-control">
                                            </div>
                                            <div class="col-12">
                                                <button class="btn text-light my-3 main-gradient container-fluid">Log
                                                    In<i class="fas fa-dumbbell ml-1"></i></button>
                                            </div>
                                            <div class="col-12">
                                                <p class="my-2">Don't have an account? <a
                                                        href="{{ url_for('register') }}">Sign up
                                                        here.</a></p>
                                                <p class="my-2 text-secondary">Train, Eat, <span
                                                        class="main-colour-text">Sleep,</span> Repeat.</p>
                                                <p class="my-2 text-secondary">Current Users:</p>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="border bg-dark py-5">
        <p class="text-center text-light">© 2020 Power In Numbers</p>
      </footer>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/javascript.js')}}"></script>
</body>

</html>