{% extends 'base.html' %} {% block content %}


<div class="title-container">
    <p class="m-0 p-0 text-center text-light">Profile</p>
    <h1 class="text-center main-title">{{ user.first_name }} {{ user.last_name }}</h1>
</div>
<div class="page-wrapper">
    <div class="page-container p-0">
        <div class="container-fluid p-0">
            <div class="row m-0 p-0 ">
                <div class="col-12 my-3 px-1 px-sm-3">
                    <div class="row m-0 p-0">
                        <div class="col-6 col-sm-2 py-1 p-sm-0 d-flex align-items-center">
                            <ul class="nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light p-1 btn main-gradient" data-toggle="dropdown" href="#" role="button"
                                        aria-haspopup="true" aria-expanded="false">Add Data</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{{ url_for('add_session') }}">Training
                                            Session</a>
                                        <a class="dropdown-item" href="#">Personal Record</a>
                                        <a class="dropdown-item" href="#">Training Plan</a>

                                    </div>
                                </li>
                            </ul>
                        </div>
                        


                        <div class="col-6 col-sm-2 py-1 p-sm-0 d-flex align-items-center">
                            {% if user.sessions_logged > 100 %}
                            <p class="m-0 p-0 main-colour-text"><b>Master</b></p>
                            {% elif user.sessions_logged > 50 %}
                            <p class="m-0 p-0 main-colour-text"><b>Advanced</b></p>
                            {% elif user.sessions_logged > 25 %}
                            <p class="m-0 p-0 main-colour-text"><b>Novice</b></p>
                            {% elif user.sessions_logged > 10 %}
                            <p class="m-0 p-0 main-colour-text"><b>Rookie</b></p>
                            {% else %}
                            <p class="m-0 p-0 main-colour-text"><b>Beginner</b></p>
                            {% endif %}
                        </div>
                        <div class="col-6 col-sm-2 py-1 p-sm-0 d-flex align-items-center">
                            <p class="m-0 p-0"> <i class="fas fa-shoe-prints"></i> </b><b>Ran:</b> {{ allDistanceByFoot }}{{ distanceByFootUnit }}s</p>
                        </div>
                        <div class="col-6 col-sm-2 py-1 p-sm-0 d-flex align-items-center">
                            <p class="m-0 p-0"> <i class="fas fa-biking"></i> </b><b>Cycled:</b></p>
                        </div>
                        <div class="col-6 col-sm-2 py-1 p-sm-0 d-flex align-items-center">
                            <p class="m-0 p-0"> <i class="fas fa-dumbbell"></i> </b><b>Weights: {{ totalPowerliftingSessions }}</b></p>
                        </div>
                        <div class="col-6 col-sm-2 py-1 p-sm-0 d-flex align-items-center">
                            <p class="m-0 p-0"> <i class="fas fa-book"></i> <b>Logged:</b> {{ user.sessions_logged }}</p>
                        </div>

                      
                        <!-- <div class="col-6 col-sm-2 d-flex justify-content-end justify-content-sm-start">
                            <p class="m-0 p-0"><b>Age:</b> {{ user.age }}</p>
                            
                        </div>
                        <div class="col-6 col-sm-2">
                            <p class="m-0 p-0"><b>Gender:</b> {{ user.gender }}</p>
                        </div>

                   
                        <div class="col-6 col-sm-2 d-flex justify-content-end justify-content-sm-start">
                            <p class="m-0 p-0"><b>BW:</b> {{ user.body_weight }}{{ user.bw_unit }}</p>
                        </div> -->

                    
                    </div>
                </div>
            </div>
            <hr class="mt-0">
            <div class="row m-0 p-0">
                <div class="col-12 p-0">
                    <form action="{{ url_for('filter_profile') }}" method="POST">
                        <div class="row m-0 p-0">
                            <div class="col-6 col-md-4">
                                <h6>Filter</h6>
                                <label>Session Type:</label>
                                <select class="form-control" name="filter_session_type">
                                    {% if filter_session_type == 'powerlifting' %}
                                    <option value="powerlifting">Powerlifting</option>
                                    <option value="running">Running</option>
                                    <option value="all">All</option>
                                    {% elif filter_session_type == 'running' %}
                                    <option value="running">Running</option>
                                    <option value="powerlifting">Powerlifting</option>
                                    <option value="all">All</option>
                                    {% else %}
                                    <option value="all">All</option>
                                    <option value="powerlifting">Powerlifting</option>
                                    <option value="running">Running</option>
                                    {% endif %}
                                </select>
                            </div>
                            <div class="col-6 p-0 col-md-4 d-flex justify-content-center align-items-end">
                                <div class="container-fluid">
                                    <label>Date:</label>
                                    <input type="date" class="form-control" value="{{ filter_date }}"
                                        name="filter_date">
                                </div>
                            </div>
                            <div class="col-12 col-md-4 mt-3 d-flex justify-content-end align-items-end">
                                <button class="main-gradient btn container-fluid">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr>
            <div class="row m-0 p-0" id="session_title">
                <div class="col-12">
                    <h4 class="text-center">Your Training Sessions</h4>
                </div>
            </div>
            <div class="row m-0 p-0">
                {% for session in sessions %}
                <div class="col-12 col-lg-6">
                    <div class="session-card my-3 p-2">
                        <div class="row m-0 p-0">
                            <div class="col-6 pl-1 pr-2">
                                {% if session.session_type == 'powerlifting' %}
                                <i class="fas fa-dumbbell float-right"></i>
                                {% elif session.session_type == 'running' %}
                                <i class="fas fa-shoe-prints float-right"></i>
                                {% elif session.session_type == 'Body Weight' %}
                                <i class="fas fa-child float-right"></i>
                                {% elif session.session_type == 'olympiclifting' %}
                                <i class="fas fa-dumbbell float-right"></i>
                                {% endif %}
                                <h5><u>{{ loop.index }}. <span class="main-colour-text">{{ session.username }}
                                        </span></u></h5>

                                <div class="row m-0 p-0">
                                    <div class="col-12 col-md-6 m-0 p-0">
                                        <div>
                                            {% if unit == 'kg'  %}{% if session.bw_unit == 'kg' %}
                                            <p class="m-0 p-0"><b class="float-left mr-1">BW: </b>
                                                <p class="check-number-float float-left">{{ session.body_weight }}</p>
                                                kg
                                            </p>
                                            {% endif %}
                                            {% if session.bw_unit == 'lb' %}
                                            <p class="m-0 p-0"><b class="float-left mr-1">BW: </b>
                                                <p class="check-number-float float-left">
                                                    {{ session.body_weight | int * 10 / 22 }}</p>kg
                                            </p>
                                            {% endif %}
                                            {% elif unit == 'lb'  %}{% if session.bw_unit == 'lb' %}
                                            <p class="m-0 p-0"><b class="float-left mr-1">BW: </b>
                                                <p class="check-number-float float-left"> {{ session.body_weight }}</p>
                                                lb
                                            </p>
                                            {% endif %}
                                            {% if session.bw_unit == 'kg' %}
                                            <p class="m-0 p-0"><b class="float-left mr-1">BW: </b>
                                                <p class="check-number-float float-left">
                                                    {{ session.body_weight | int * 22 / 10 }}</p>lb
                                            </p>
                                            {% endif %}
                                            {% else %}
                                            <p class="m-0 p-0"><b class="float-left mr-1">BW: </b>
                                                <p class="check-number-float float-left">{{ session.body_weight | int }}
                                                </p>
                                                {{ session.bw_unit }}
                                            </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 pr-0 border-left">
                                <i class="fas fa-edit float-right" data-toggle="collapse" href="#edit{{ loop.index }}"
                                    role="button" aria-expanded="false" aria-controls="collapseExample"></i>
                                <p class="m-0 p-0"><b>Date:</b> {{ session.date }}</p>
                                <p class="m-0 mt-4"><b>Location:</b> {{ session.location }}</p>
                                <div class="collapse d-none" id="{{ session.first_name }}">
                                    <div class="card-body">
                                        <h5>Motivated</h5>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
                                                style="width: {{ session.motivated | int * 10 }}%" aria-valuenow="75"
                                                aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <h5>Difficulty</h5>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar"
                                                style="width: {{ session.difficulty | int * 10 }}%" aria-valuenow="75"
                                                aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <h5>Effort</h5>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar"
                                                style="width: {{ session.effort | int * 10 }}%" aria-valuenow="100"
                                                aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 p-0 mx-2">
                            <div class="col-12 p-0 m-0">
                                <div class="collapse  mt-4" id="expand{{ loop.index }}">
                                    <div class="card-body m-0 p-0">
                                        <div class="d-flex justify-content-center">
                                            <table class="session-table container-fluid">
                                                {% if session.session_type == 'powerlifting' %}
                                                <tr>
                                                    <th>Exercise</th>
                                                    <th>Sets / Reps</th>
                                                    <th>Weight</th>
                                                </tr>
                                                {% for row in range(session.session_rows | int) %}
                                                {% set rowIndex = row + 1 %}
                                                <tr>
                                                    <td>{{ session.training_session[row]['session_exercise_' + rowIndex | string ] }}
                                                    </td>
                                                    <td>{{ session.training_session[row]['session_sets_' + rowIndex | string] }}
                                                    </td>
                                                    <td>{{ session.training_session[row]['session_weight_' + rowIndex | string ] }}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                {% elif session.session_type == 'running' %}
                                                <tr>
                                                    <th>Distance ({{ session.session_unit }})</th>
                                                    <th>Average Speed</th>
                                                </tr>
                                                <tr>
                                                    <td>{{ session.training_session }}</td>
                                                    {% set hoursToMins = session.length_hour * 60 %}
                                                    {% set totalMins = hoursToMins | int + session.length_min | int %}
                                                    <td><span class="distance_convertion">{{ totalMins / session.training_session | int }}</span> mins per {{ session.session_unit }}</td>
                                                </tr>
                                                {% endif %}
                                            </table>
                                        </div>
                                    </div>
                                    <div class="card-body m-0 p-0 mt-3">
                                        <h5>Motivated</h5>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
                                                style="width: {{ session.motivated | int * 10 }}%" aria-valuenow="75"
                                                aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <h5>Difficulty</h5>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar"
                                                style="width: {{ session.difficulty | int * 10 }}%" aria-valuenow="75"
                                                aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <h5>Effort</h5>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar"
                                                style="width: {{ session.effort | int * 10 }}%" aria-valuenow="100"
                                                aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                    </div>
                                    <p class="m-0 mt-4"><b>Session Type:</b> {{ session.session_type }}</p>
                                    <p class="m-0"><b>Length:</b> {{ session.length_hour }} Hour(s)
                                        {{ session.length_min }}
                                        Min(s)
                                    </p>
                                </div>
                                <div class="row m-0 mt-3 p-0">
                                    <div class="col-7 p-0">
                                        <p><b>Notes:</b> {{ session.notes }}</p>
                                    </div>
                                    <div class="col-5 p-0">
                                        <div class="row m-0 p-0">
                                            <div class="col-12 m-0 p-0">
                                                <p>
                                                    <a class="btn main-colour mt-2 expand-button text-dark border float-right"
                                                        data-toggle="collapse" href="#expand{{ loop.index }}"
                                                        role="button" aria-expanded="false"
                                                        aria-controls="collapseExample">
                                                        Expand
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-12 p-0">
                                <div class="collapse" id="edit{{ loop.index }}">
                                    <div class="card card-body p-0 mt-2">
                                        <a href="{{url_for('delete_session', session_id=session._id)}}"><button
                                                class="btn btn-danger container-fluid">Delete</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if loop.last %}
                <div class="col-12">
                    <p class="text-secondary">Search Result: {{ loop.index }}</p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}