<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Power In Numbers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d4ed0579d0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Squada+One&display=swap" rel="stylesheet">
</head>

<body class="login-background">
    <div class="login-wrapper p-0 d-flex justify-content-center container-fluid">
        <div class="row m-0 p-0 d-flex justify-content-center ">
            <div class="register-width">
                <div class="col-12 d-flex justify-content-center">
                </div>
                <h4 class="text-center my-3">Register</h4>
                <form action="{{ url_for('register_insert') }}" method="POST" class="container-fluid">
                    <div class="row my-2 p-0">
                        <div class="col-12 pr-0 col-lg-6">
                            <label class="mb-1">First Name:</label>
                            <input type="text" class="form-control" placeholder="John" name="first_name">
                        </div>
                        <div class="col-12 pl-3 col-lg-6">
                            <label class="mb-1">Last Name:</label>
                            <input type="text" class="form-control" placeholder="Smith" name="last_name">
                        </div>
                    </div>
                    <div class="row m-0 p-0">
                        <div class="col-2 p-0">
                            <label class="mb-1" for="exampleFormControlSelect1">Age:</label>
                            <input type="number" class="form-control" placeholder="23" name="age">
                        </div>
                        <div class="col-4">
                            <label class="mb-1" for="exampleFormControlSelect1">Gender:</label>
                            <select class="form-control" id="exampleFormControlSelect1" name="gender">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                        <div class="col-3 p-0">
                            <label class="mb-1" for="exampleFormControlSelect1">BW:</label>
                            <input type="number" class="form-control" placeholder="body weight" name="body_weight">
                        </div>
                        <div class="col-3 m-0 pl-3 pr-0">
                            <label class="mb-1 p-0">Unit:</label>
                            <select class="form-control" name="bw_unit">
                                <option>lb</option>
                                <option>kg</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-2 p-0">
                        <div class="col-12 col-lg-6 pr-0">
                            <label class="mb-1">Username:</label>
                            <input type="text" class="form-control" placeholder="john23smith" name="username">
                        </div>
                        <div class="col-12 col-lg-6 pl-3">
                            <label class="mb-1">Password:</label>
                            <input type="text" class="form-control" placeholder="********" name="password">
                        </div>
                    </div>
                    <hr>
                    <div class="row m-0 p-0">
                        <div class="col-12 p-0">
                            <label class="mb-1" for="exampleFormControlSelect1">Location:</label>
                            <input class="form-control" placeholder="Location" name="location">
                        </div>
                    </div>
                    <div class="row m-0 p-0">
                        <div class="col-12 p-0 d-flex justify-content-end mt-3">
                            <a href="{{ url_for('register_insert') }}"></a><button
                                class="btn main-colour text-light container-fluid mb-3 main-gradient">Create
                                Account</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/javascript.js')}}"></script>
</body>

</html>