{% extends 'base.html' %} {% block content %}




<div class="page-wrapper py-5">
    <div class="login-wrapper p-0 d-flex justify-content-center container-fluid">
        <div class="row m-0 p-0 d-flex justify-content-center container-fluid">
            <div class="container-fluid">
                <h3 class="text-center my-3">Settings</h3>
                <div class="row">

                    <div class="col-12 px-3">

                        <form action="{{ url_for('add_unit') }}" method="POST">
                            <div class="row m-0 p-0">
                                <div class="col-6 col-md-6 m-0 p-0 pr-3">

                                    <label>Weight:</label>
                                    <select class="form-control mb-2" name="unit">
                                        {% if unit == 'kg' %}
                                        <option value="kg">kg</option>
                                        <option value="lb">lb</option>
                                        <option value="none">none</option>
                                        {% elif unit == 'lb'%}
                                        <option value="lb">lb</option>
                                        <option value="kg">kg</option>
                                        <option value="none">none</option>
                                        {% else %}
                                        <option value="none">none</option>
                                        <option value="kg">kg</option>
                                        <option value="lb">lb</option>
                                        {% endif %}
                                    </select>

                                </div>
                                <div class="col-6 col-md-6 m-0 p-0">
                                    <label>Distance:</label>
                                    <select class="form-control mb-2" name="unit_distance">
                                        {% if unit_distance == 'mile' %}
                                        <option value="mile">Mile</option>
                                        <option value="km">km</option>
                                        <option value="none">none</option>
                                        {% elif unit_distance == 'km' %}
                                        <option value="km">km</option>
                                        <option value="mile">Mile</option>
                                        <option value="none">none</option>
                                        {% else %}
                                        <option value="none">none</option>
                                        <option value="mile">Mile</option>
                                        <option value="km">km</option>
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="col-12 p-0 my-3">
                                    <button class="btn btn-dark unit-button container-fluid px-0" name="unit">Make
                                        Changes</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}