{% extends 'base.html' %} {% block content %}
<!-- Scrits for the charts on the stats page -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js">
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js">
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.js">
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js">
</script>
<!-- Return to the top button -->
<a onclick="backToTop()" class="justify-content-center align-items-center return-top-button animated slideInUp faster"
    id="back-to-top">
    <i class="far fa-arrow-alt-circle-up text-light"></i>
</a>


<div class="title-container" id="top">
    <p class="m-0 p-0 text-center text-light animated fadeIn">Records</p>
    <h1 class="text-center main-title  animated fadeIn">Personal Records</h1>
</div>
<div class="page-wrapper">
    <div class="page-container p-0">
        <div class="container-fluid p-0">
            <div class="row m-0 p-0">
                <div class="col-9 p-3 m-0">
                    <p class="m-0">Total records saved: <b>{{ allRecords }}</b></p>
                </div>
                <div class="col-3 m-0 p-0 d-flex justify-content-end pt-3 pr-3 mb-0">
                    <p>
                        <a class="btn main-colour btn-sm" data-toggle="collapse" href="#collapseExample" role="button"
                            aria-expanded="false" aria-controls="collapseExample">
                            Filter
                        </a>

                    </p>
                </div>
            </div>
            <div class="row m-0 p-0">
                <div class="col-12 p-0 m-0 ">
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body  pb-3 pr-0 pl-0 pt-0">
                            <!-- records filter section -->
                            <form action="{{ url_for('filter_records') }}" method="POST">
                                <div class="row m-0 p-0">
                                    <div class="col-12 col-md-3 pt-3">
                                        <h6>Filter</h6>
                                        <label>Session Type:</label>
                                        <select class="form-control" name="filter_session_type_records">
                                            {% if filter_session_type == 'weightlifting' %}
                                            <option value="weightlifting">Weightlifting</option>
                                            <option value="running">Running</option>
                                            <option value="walking">Walking</option>
                                            <option value="cycling">Cycling</option>
                                            <option value="all">All</option>
                                            {% elif filter_session_type == 'running' %}
                                            <option value="running">Running</option>
                                            <option value="weightlifting">Weightlifting</option>
                                            <option value="walking">Walking</option>
                                            <option value="cycling">Cycling</option>
                                            <option value="all">All</option>
                                            {% elif filter_session_type == 'cycling' %}
                                            <option value="cycling">Cycling</option>
                                            <option value="running">Running</option>
                                            <option value="walking">Walking</option>
                                            <option value="weightlifting">Weightlifting</option>
                                            <option value="all">All</option>
                                            {% elif filter_session_type == 'walking' %}
                                            <option value="walking">Walking</option>
                                            <option value="cycling">Cycling</option>
                                            <option value="running">Running</option>
                                            <option value="weightlifting">Weightlifting</option>
                                            <option value="all">All</option>
                                            {% else %}
                                            <option value="all">All</option>
                                            <option value="weightlifting">Weightlifting</option>
                                            <option value="running">Running</option>
                                            <option value="cycling">Cycling</option>
                                            <option value="walking">Walking</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                    <div class="col-12 p-0 col-md-3 d-flex justify-content-center align-items-end">
                                        <div class="container-fluid">
                                            <label>Date:</label>
                                            <input type="date" class="form-control" value="{{ filter_date }}"
                                                name="filter_session_date_records">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 p-0 m-0 d-flex align-items-end">
                                        <div class="container-fluid">
                                            <label>Sort By:</label>
                                            <select name="sort_session_records" class="form-control">
                                                {% if sortCards == 'Newest First' %}
                                                <option class="date">Newest First</option>
                                                <option class="date">Oldest First</option>
                                                {% elif sortCards == 'Oldest First' %}
                                                <option class="date">Oldest First</option>
                                                <option class="date">Newest First</option>
                                                {% else %}
                                                <option class="date">Newest First</option>
                                                <option class="date">Oldest First</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 mt-3 d-flex justify-content-end align-items-end">
                                        <button class="main-gradient btn container-fluid"
                                            name="sessions">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-0 p-0 ">
                <!-- training record cards section -->
                <div class="col-12">
                    <hr class="m-0">
                </div>
                <div class="col-12 p-0 ">
                    <h4 class="text-center">Your Training Records</h4>
                </div>


                {% for record in records %}
                <div class="col-12 col-md-6 p-0 px-md-1 delay-{{ loop.index }} animated fadeInUp ">
                    <div class="session-card my-1 my-md-1 p-2">
                        <div class="row m-0 p-0">
                            <div class="col-6 pl-1 pr-2">
                                {% if record.session_type == 'weightlifting' %}
                                <i class="fas fa-dumbbell float-right"></i>
                                {% elif record.session_type == 'running' %}
                                <i class="fas fa-running float-right mr-1"></i>
                                {% elif record.session_type == 'Body Weight' %}
                                <i class="fas fa-child float-right"></i>
                                {% elif record.session_type == 'cycling' %}
                                <i class="fas fa-biking float-right"></i>
                                {% elif record.session_type == 'walking' %}
                                <i class="fas fa-shoe-prints float-right"></i>
                                {% endif %}
                                <h5><u>{{ loop.index }}. <span class="main-colour-text">{{ record.username }}
                                        </span></u></h5>

                                <div class="row m-0 p-0">
                                    <div class="col-12 col-md-6 m-0 p-0">
                                        <div>
                                            {% if unit == 'kg'  %}{% if record.bw_unit == 'kg' %}
                                            <p class="m-0 p-0"><b class="float-left mr-1">BW: </b>
                                                <p class="toFixed1 m-0 float-left">
                                                    {{ record.body_weight }}</p>
                                                kg
                                            </p>
                                            {% endif %}
                                            {% if record.bw_unit == 'lb' %}
                                            <p class="m-0 p-0"><b class="float-left mr-1">BW: </b>
                                                <p class="toFixed1 m-0 float-left">
                                                    {{ record.body_weight | int * 10 / 22 }}
                                                </p>kg
                                            </p>
                                            {% endif %}
                                            {% elif unit == 'lb'  %}{% if record.bw_unit == 'lb' %}
                                            <p class="m-0 p-0"><b class="float-left mr-1">BW: </b>
                                                <p class="toFixed1 m-0 float-left">
                                                    {{ record.body_weight }}</p>
                                                lb
                                            </p>
                                            {% endif %}
                                            {% if record.bw_unit == 'kg' %}
                                            <p class="m-0 p-0"><b class="float-left mr-1">BW: </b>
                                                <p class="toFixed1 m-0 float-left">
                                                    {{ record.body_weight | int * 22 / 10 }}
                                                </p>lb
                                            </p>
                                            {% endif %}
                                            {% else %}
                                            <p class="m-0 p-0"><b class="float-left mr-1">BW: </b>
                                                <p class="toFixed1 m-0 float-left">
                                                    {{ record.body_weight | int }}
                                                </p>
                                                {{ record.bw_unit }}
                                            </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 pr-0 border-left">
                                <i class="fas fa-edit float-right" data-toggle="collapse" href="#edit{{ loop.index }}"
                                    role="button" aria-expanded="false" aria-controls="collapseExample"></i>
                                <p class="m-0 p-0"><b>Date:</b> {{ record.date }}</p>
                                <p class="m-0"><b>Location:</b> {{ record.location }}</p>
                                <div class="collapse d-none" id="{{ record.first_name }}">
                                    <div class="card-body">
                                        <h5>Motivated</h5>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
                                                style="width: {{ record.motivated | int * 10 }}%" aria-valuenow="75"
                                                aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <h5>Difficulty</h5>
                                        <div class="progress">

                                            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar"
                                                style="width: {{ record.difficulty | int * 10 }}%" aria-valuenow="75"
                                                aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <h5>Effort</h5>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar"
                                                style="width: {{ record.effort | int * 10 }}%" aria-valuenow="100"
                                                aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 p-0 mx-2">
                            <div class="col-12 p-0 m-0">
                                <div class="collapse  mt-4" id="expand{{ loop.index }}">
                                    <div class="card-body m-0 p-0">
                                        <div class="d-flex justify-content-center">
                                            <table class="session-table container-fluid">
                                                {% if record.session_type == 'weightlifting' %}
                                                <tr>
                                                    <th>Exercise</th>
                                                    <th>Sets / Reps</th>
                                                    <th>Weight</th>
                                                </tr>
                                                <tr>
                                                    <td>{{ record.training_session['session_exercise_1'] }}
                                                    </td>
                                                    <td>{{ record.training_session['session_sets_1'] }}
                                                    </td>
                                                    {% set weight_lifted = record.training_session['session_weight_1'] | int %}
                                                    {% if unit == 'kg' %}{% if record.session_unit == 'kg' %}
                                                    <td>{{ weight_lifted }}{{ unit }}
                                                    </td>
                                                    {% endif %}{% if record.session_unit == 'lb' %}
                                                    <td><span
                                                            class="toFixed1">{{ weight_lifted * 10 / 22 }}</span>{{ unit }}
                                                    </td>
                                                    {% endif %}
                                                    {% endif %}

                                                    {% if unit == 'lb' %}{% if record.session_unit == 'lb' %}
                                                    <td>{{ weight_lifted }}{{ unit }}
                                                    </td>
                                                    {% endif %}{% if record.session_unit == 'kg' %}
                                                    <td><span
                                                            class="toFixed1">{{ weight_lifted * 22 / 10 }}</span>{{ unit }}
                                                    </td>
                                                    {% endif %}
                                                    {% endif %}
                                                </tr>
                                                {% elif record.session_type == 'running' or record.session_type == 'cycling' or record.session_type == 'walking' %}
                                                <tr>
                                                    <th>Distance ({{ distanceUnit }})</th>
                                                    <th>Average Speed</th>
                                                </tr>
                                                <tr>
                                                    {% if distanceUnit == 'mile'%}{% if record.session_unit == 'mile' %}
                                                    {% set distance_traveled = record.training_session %}
                                                    <td>{{ distance_traveled }}
                                                        {{ distanceUnit }}
                                                    </td>
                                                    {% endif %}
                                                    {% if record.session_unit == 'km' %}
                                                    {% set distance_traveled = record.training_session | int * 0.62 %}
                                                    <td><span class="toFixed1">
                                                            {{ distance_traveled }}</span>
                                                        {{ distanceUnit }}</td>
                                                    {% endif %}
                                                    {% endif %}
                                                    {% if distanceUnit == 'km' %}{% if record.session_unit == 'km' %}
                                                    {% set distance_traveled = record.training_session %}
                                                    <td>{{ distance_traveled }}
                                                        {{ distanceUnit }}
                                                    </td>
                                                    {% endif %}
                                                    {% if record.session_unit == 'mile' %}
                                                    {% set distance_traveled = record.training_session | int * 10 * 16 / 100 %}
                                                    <td><span class="toFixed1">{{ distance_traveled }}</span>
                                                        {{ distanceUnit }}</td>
                                                    {% endif %}
                                                    {% endif %}

                                                    {% set hoursToMins = record.length_hour * 60 %}
                                                    {% set totalMins = hoursToMins | int + record.length_min | int %}
                                                    <td><span
                                                            class="toFixed2">{{ totalMins / distance_traveled | int }}</span>
                                                        mins per {{ distanceUnit }}</td>
                                                </tr>
                                                {% endif %}
                                            </table>
                                        </div>
                                    </div>
                                    <div class="card-body m-0 p-0 mt-3">
                                        <h5>Motivated</h5>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
                                                style="width: {{ record.motivated | int * 10 }}%" aria-valuenow="75"
                                                aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <h5>Difficulty</h5>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar"
                                                style="width: {{ record.difficulty | int * 10 }}%" aria-valuenow="75"
                                                aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <h5>Effort</h5>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar"
                                                style="width: {{ record.effort | int * 10 }}%" aria-valuenow="100"
                                                aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                    </div>
                                    <p class="m-0 mt-4"><b>Record Type:</b>
                                        {{ record.session_type }}
                                    </p>
                                    <p class="m-0"><b>Length:</b> {{ record.length_hour }}<small>h</small> : <span class="m-0 toFixed0">{{ record.length_min }}</span><small>m</small> : {{ record.length_sec }}<small>s</small>
                                    <div class="row m-0">
                                        <div class="col-12 p-0">
                                            <p class="m-0 p-0"><b>Notes:</b> {{ record.notes }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="row m-0 p-0">
                                 
                                    <div class="col-12 p-0">
                                        <div class="row m-0 p-0">
                                            <div class="col-12 m-0 p-0">
                                                <p>
                                                    <a class="btn main-colour expand-button text-dark py-1 border float-right"
                                                        data-toggle="collapse" href="#expand{{ loop.index }}"
                                                        role="button" aria-expanded="false"
                                                        aria-controls="collapseExample">
                                                        Expand
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-12 p-0">
                                <div class="collapse" id="edit{{ loop.index }}">
                                    <div class="card card-body p-0 mt-2">
                                        <a href="{{url_for('delete_record', session_id=record._id)}}"><button
                                                class="btn btn-danger container-fluid">Delete</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if loop.last %}
                <div class="col-12 animated fadeInUp">
                    <p class="text-secondary">Search Result: {{ loop.index }}</p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>



{% endblock %}